.container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  .button {
    border: none;
    background-color: #e0e0e0;
    color: #9d9d9d;
    border-radius: 8px;
    margin: 10px;
    height: 40px;
    width: 120px;
    font-size: 1em;
    font-weight: 500;
    font-family: inherit;
    cursor: pointer;
    box-shadow: 4px 4px 10px #9d9d9d, -4px -4px 10px #ffffff;
    p {
      margin: 0;
      padding: 0;
      transform: translate(-1px, 1px);
      text-transform: capitalize;
    }
  }
  .button:hover {
    box-shadow: none;
    p {
      transform: translate(0, 0);
    }
  }
  .button:active {
    box-shadow: inset 4px 4px 10px #9d9d9d, inset -4px -4px 10px #ffffff;
    p {
      transform: translate(1px, -1px);
    }
  }
}
